// Vendors

// Modules
@import 'modules/vars';
@import 'modules/mixins';
@import 'modules/helpers';

// Base
@import 'base/layout';
@import 'base/typography';

// Components
@import 'components/buttons';
@import 'components/inputs';

// Sections
@import 'sections/auth';
@import 'sections/game';
@import 'sections/header';
@import 'sections/splash';
@import 'sections/settings';
@import 'sections/stats';
