#game-section {
  margin-top: 20px;

  .sidebar-title {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px;
  }

  #game-sidebar {
    display: inline-block;
    width: 150px;
    vertical-align: top;

  .info {
      color: #999;
      margin-bottom: 10px;
    }

    button {
      margin-top: 10px;
    }

    .remaining {
      margin-top: 40px;
      width: 125px;
      text-align: center;
    }
  }

  #game {
    display: inline-block;
    margin: 0 100px;
    width: 450px;
    vertical-align: top;

    .square {
      background: #eee;
      float: left;
      height: 120px;
      width: 120px;
      padding: 10px;
      margin: 5px;

      > div {
        background: lighten($blue, 20%);
        height: 120px;
        width: 120px;
        @include border-radius(5px);
      }
    }
  }

  #game-progress {
    display: inline-block;
    vertical-align: top;

    .report {
      margin-bottom: 20px;

      .timestamp {
        color: #999;
      }

      .accuracy {
        font-weight: 600;
        float: right;
        margin-left: 20px;
      }

      .accuracy-green {
        color: $green;
      }

      .accuracy-red {
        color: $red;
      }
    }

    a {
      color: $blue;
      &:hover {
        color: darken($blue, 20%);
      }
    }
  }

  #controls {
    margin: 20px 0 0 255px;
    width: 450px;

    > div {
      display: inline-block;

      .key {
        margin: 0 10px;
      }
    }

    .control-on {
      color: $blue;

      .key {
        background: $blue;
        color: #fff;
      }
    }
  }
}
