#home-section {
  margin: 160px auto 0 auto;
  width: 300px;
  text-align: center;

  h1 {
    margin: 0 0 5px 0;
  }

  h2 {
    margin: 0 0 20px 0;
  }

  .btn {
    display: inline-block;
    margin: 0 10px;
  }
}
