.c3-tooltip-container {
  .c3-tooltip {
    background: rgba(255, 255, 255, 0.95);
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid #ddd;
    padding: 8px;
    tr {
      background: transparent;
      border: none;

      th {
        background: transparent;
        color: #999;
        font-weight: 500;
      }
    }

    .value {
      border: none;
      font-weight: 600;
    }
  }
}
