#stats-section {
  .chart-title {
    font-weight: 600;
    margin-bottom: 20px;
  }
}

.c3-tooltip-container {
  .c3-tooltip {
    background: #222;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    @include border-radius(5px);
    border: 2px solid #fff;
    padding: 10px;
    tr {
      background: transparent;
      border: none;

      th {
        background: transparent;
        color: #777;
        font-weight: 500;
        padding-top: 5px;
      }
    }

    td {
      background: transparent;
      color: #eee;
    }

    .value {
      border: none;
      font-weight: 600;
    }
  }
}

.c3 path, .c3 line {
  stroke: #bbb;
  stroke-width: 2px;
}

.c3 svg {
  fill: #999 !important;
  font: 12px Avenir Next !important;
  font-weight: 600 !important;
}
