body,
input,
textarea,
button {
  font: 14px Avenir Next;
  font-weight: 500;
  color: #222;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2 {
  color: #999;
  font-weight: 500;
  font-size: 18px;
}

h3 {

}
