button {
  &:focus {
    outline: none;
  }
}

.btn {
  background: #333;
  border: 2px solid #333;
  @include border-radius(20px);
  color: #fff;
  font-weight: 600;
  padding: 5px 20px;

  > svg {
    fill: #fff;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 10px;
  }
}

.btn-blue {
  background: $blue;
  border-color: $blue;

  &:hover {
    border-color: darken($blue, 10%);
  }
}

.btn-orange {
  background: $orange;
  border-color: $orange;

  &:hover {
    border-color: darken($orange, 10%);
  }
}

.btn-green {
  background: $green;
  border-color: $green;

  &:hover {
    border-color: darken($green, 10%);
  }
}

.btn-text {
  background: transparent;
  border-color: transparent;
  color: #999;
  font-weight: 500;

  svg {
    fill: #999;
  }

  &:hover {
    color: #222;

    > svg {
      fill: #222;
    }
  }
}
