button {
  &:focus {
    outline: none;
  }
}

.btn {
  background: #333;
  border: 2px solid #333;
  @include border-radius(20px);
  color: #fff;
  font-weight: 600;
  padding: 5px 20px;
}

.btn-blue {
  background: $blue;
  border-color: $blue;

  &:hover {
    border-color: darken($blue, 10%);
  }
}

.btn-orange {
  background: $orange;
  border-color: $orange;

  &:hover {
    border-color: darken($orange, 10%);
  }
}
