input[type=text],
input[type=email],
input[type=password],
input[type=number] {
  border: 1px solid #ddd;
  @include border-radius(20px);
  color: #999;
  display: block;
  padding: 5px 15px;

  &:hover {
    border-color: #bbb;
  }

  &:focus {
    border-color: $blue;
    color: $blue;
    outline: none;
  }
}
