.left {
  float: left; }

.right {
  float: right; }

.max-width {
  margin: 0 auto;
  width: 1000px; }

body,
input,
textarea,
button {
  font: 16px Avenir Next;
  font-weight: 500;
  color: #222;
  -webkit-font-smoothing: antialiased; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

h1 {
  font-weight: 500;
  font-size: 40px; }

h2 {
  color: #999;
  font-weight: 500;
  font-size: 18px; }

.key {
  background: #222;
  color: #fff;
  font-size: 11px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  background-clip: padding-box; }

button:focus {
  outline: none; }

.btn {
  background: #333;
  border: 2px solid #333;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-clip: padding-box;
  color: #fff;
  font-weight: 600;
  padding: 5px 20px; }
  .btn > svg {
    fill: #fff;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    margin-right: 10px; }

.btn-blue {
  background: #00aced;
  border-color: #00aced; }
  .btn-blue:hover {
    border-color: #0087ba; }

.btn-orange {
  background: #f2a43e;
  border-color: #f2a43e; }
  .btn-orange:hover {
    border-color: #ed8d10; }

.btn-green {
  background: #00b27f;
  border-color: #00b27f; }
  .btn-green:hover {
    border-color: #007f5b; }

.btn-text {
  background: transparent;
  border-color: transparent;
  color: #999;
  font-weight: 500; }
  .btn-text svg {
    fill: #999; }
  .btn-text:hover {
    color: #222; }
    .btn-text:hover > svg {
      fill: #222; }

input[type=text],
input[type=email],
input[type=password] {
  border: 1px solid #ddd;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  background-clip: padding-box;
  display: block;
  padding: 5px 15px; }
  input[type=text]:hover,
  input[type=email]:hover,
  input[type=password]:hover {
    border-color: #bbb; }
  input[type=text]:focus,
  input[type=email]:focus,
  input[type=password]:focus {
    outline: none; }

#auth-section {
  margin-top: 120px;
  text-align: center; }
  #auth-section #login {
    border-right: 1px solid #eee; }
  #auth-section > div {
    display: inline-block;
    padding: 0 100px; }
    #auth-section > div > div {
      font-size: 18px;
      font-weight: 600; }
    #auth-section > div > form > * {
      margin-top: 20px; }

#game-section #game-sidebar {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  text-align: center; }
  #game-section #game-sidebar .sidebar-title {
    color: #222;
    font-weight: 600;
    margin-bottom: 20px; }
  #game-section #game-sidebar .info {
    color: #999;
    margin-bottom: 10px; }
  #game-section #game-sidebar button {
    margin-top: 10px; }
  #game-section #game-sidebar .remaining {
    margin-top: 40px; }
#game-section #game {
  display: inline-block;
  margin-left: 100px;
  width: 450px;
  vertical-align: top; }
  #game-section #game .square {
    background: #eee;
    float: left;
    height: 120px;
    width: 120px;
    padding: 10px;
    margin: 5px; }
    #game-section #game .square > div {
      background: #54d0ff;
      height: 120px;
      width: 120px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-clip: padding-box; }
#game-section #controls {
  margin: 20px 0 0 255px;
  width: 450px; }
  #game-section #controls > div {
    display: inline-block; }
    #game-section #controls > div .key {
      margin: 0 10px; }
  #game-section #controls .control-on {
    color: #00aced; }
    #game-section #controls .control-on .key {
      background: #00aced;
      color: #fff; }

#header {
  color: #999;
  height: 60px;
  font-size: 16px;
  line-height: 60px; }
  #header a {
    margin-left: 40px; }
    #header a:hover {
      color: #222; }
      #header a:hover > .icon {
        fill: #222; }
    #header a > .icon {
      fill: #999;
      height: 16px;
      width: 16px;
      vertical-align: middle; }

#home-section {
  margin: 160px auto 0 auto;
  width: 300px;
  text-align: center; }
  #home-section h1 {
    margin: 0 0 5px 0; }
  #home-section h2 {
    margin: 0 0 20px 0; }
  #home-section .btn {
    display: inline-block;
    margin: 0 10px; }

/*# sourceMappingURL=app.css.map */
