<div id="game-section" class="max-width">
  <div id="game-sidebar">
    <div ng-show="!gameMode()">
      <div class="sidebar-title">Game Settings</div>
      <div class="info">{{ user.game.level }} Back</div>
      <div class="info">{{ user.game.trials }} trials</div>
      <div class="info">{{ user.game.time / 1000 }} sec / trial</div>
      <div class="info">{{ user.game.flashTime / 1000 }} sec / flash</div>
      <button class="btn btn-orange" ng-click="start()">Start</button>
    </div>
    <div ng-show="gameMode()">
      <button class="btn btn-text" ng-click="quit()">
        <svg class="icon" viewBox="0 0 8 8">
          <use xlink:href="../bower_components/open-iconic/sprite/open-iconic.svg#arrow-left" class="icon-arrow-left"></use>
        </svg>
        Cancel
      </button>
      <!-- Unfortunately unimplemented
      <button class="btn btn-green" ng-click="pause()" ng-show="!paused()">
        <svg class="icon" viewBox="0 0 8 8">
          <use xlink:href="../bower_components/open-iconic/sprite/open-iconic.svg#media-pause" class="icon-media-pause"></use>
        </svg>
        Pause
      </button>
      -->
      <button class="btn btn-orange" ng-click="resume()" ng-show="paused()">
        <svg class="icon" viewBox="0 0 8 8">
          <use xlink:href="../bower_components/open-iconic/sprite/open-iconic.svg#media-play" class="icon-media-play"></use>
        </svg>
        Resume
      </button>
      <div class="remaining info">{{ remaining() }} remaining</div>
    </div>
  </div>
  <div id="game">
    <div class="square" ng-repeat="square in board()">
      <div ng-show="square.on"></div>
    </div>
  </div>
  <div id="game-progress" ng-show="!gameMode() && !anon">
    <div class="sidebar-title">Progress</div>
    <div class="report" ng-repeat="report in user.reports | limitTo: 10">
      <span class="timestamp">{{ report.timestamp | date:'M/d/yyyy' }}</span>
      <span class="accuracy" ng-class="report.accuracyTotal >= .50 ? 'accuracy-green' : 'accuracy-red'">{{ report.accuracyTotal }}</span>
    </div>
    <a href="#/stats">View all statistics</a>
  </div>
  <div id="game-progress" ng-show="!gameMode() && anon">
    <div class="anon-msg">Save your progress by creating an account or logging in.</div>
    <a href="#/auth">Sign up or login</a>
  </div>
  <div id="controls" ng-show="gameMode()">
    <div class="left"><span class="key">A</span>Position Match</div>
    <div class="right">Audio Match <span class="key">L</span></div>
  </div>
</div>
