<div id="settings-section" class="max-width">
  <div class="section-title">Settings</div>
  <div>
    <label for="level">Level</label>
    <input type="number" id="level" ng-model="game.level" value="{{ game.level }}"></input>
  </div>
  <div>
    <label for="trials">Trials</label>
    <input type="number" id="trials" ng-model="game.trials" value="{{ game.trials }}"></input>
  </div>
  <div>
    <label for="time">Time</label>
    <input type="number" id="time" ng-model="game.time" value="{{ game.time }}"></input>
  </div>
  <button class="btn btn-blue" ng-click="save()">Save</button>
</div>
